---
import Layout from "@/layouts/Layout.astro";
import BlogListingPage from "@/components/blogs/BlogListingPage.astro";
import { getSiteBlogCollectionBySlug } from "@/lib/api/site_blogs";
const updateBlogs = await getSiteBlogCollectionBySlug("updates");
const resourcesBlogs = await getSiteBlogCollectionBySlug("resources");

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=600, s-maxage=600, stale-while-revalidate=600",
);

---

<Layout title="Blogs | Whitepapper" description="Latest updates and resources from Whitepapper.">
  <main aria-label="Blogs listing">
    <BlogListingPage
      pageTitle="blogs"
      primaryTitle="Latest at Whitepapper"
      secondaryTitle="Resources"
      primaryBlogs={updateBlogs.papers}
      secondaryBlogs={resourcesBlogs.papers}
    />
  </main>
</Layout>
