---
import Layout from "@/layouts/Layout.astro";
import SiteContentListingPage from "@/components/site/SiteContentListingPage.astro";
import { fetchDevCollectionBySlug } from "@/lib/api/contentFetcher";

const updateBlogs = await fetchDevCollectionBySlug("updates");
const resourcesBlogs = await fetchDevCollectionBySlug("resources");

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=300, s-maxage=300, stale-while-revalidate=300",
);

---

<Layout>
  <main aria-label="Blogs listing">
      <SiteContentListingPage
      pageTitle="blogs"
      primaryTitle="Latest at Whitepapper"
      secondaryTitle="Resources"
      primaryBlogs={updateBlogs.papers}
      secondaryBlogs={resourcesBlogs.papers}
    />
  </main>
</Layout>

