---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Cotntact">
    <div class="h-[100svh] px-4 flex flex-col items-center justify-center">
        <div class="space-y-2 text-[16px] text-muted-foreground">
            <p >Hello, I am <span class="text-foreground">Abhraneel</span></p>
            <p>I make tools for developers and normal people</p>
            <p>Reach me at <a href="mailto:abhraneeldhar@gmail.com" class="underline text-foreground">abhraneeldhar@gmail.com</a></p>
        </div>
    </div>
</Layout>
