---
import Layout from "@/layouts/Layout.astro";
import IntegrationsSection from "@/components/integrations-1";
---

<Layout>
	<main aria-label="Integrations">
		<IntegrationsSection />
	</main>
</Layout>
