---
import abstractLightPic from "@/assets/abstract_light.jpg";
import abstractDarkPic from "@/assets/abstract_dark.jpg";
import EmptyPaperNotes from "../emptyPagesComp";
import FolderNotes from "../folderComponent";
import { Tabs, TabsList, TabsTrigger } from "../ui/tabs";
---

<div class="min-h-screen bg-background px-[15px] pt-15 pb-20">
  <div class="z-[10] flex p-[10px] justify-end fixed top-0 left-0 w-full">
    <div class="h-9 w-9 rounded-full bg-foreground/15 animate-pulse"></div>
  </div>

  <div class="mx-auto flex w-full max-w-[1000px] flex-col gap-5">
    <p class="text-sm text-muted-foreground">Dashboard</p>

    <!-- <div
      class="inline-flex w-fit items-center cursor-pointer select-none justify-center rounded-lg bg-muted p-1 text-muted-foreground gap-1"
    >
      <span
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm h-8 bg-background text-foreground shadow-sm"
        >Overview</span
      >
      <span
        class="inline-flex items-center justify-center whitespace-nowrap rounded-md px-3 py-1 text-sm font-medium text-muted-foreground h-8"
        >MCP</span
      >
    </div> -->

    <div
      class="inline-flex h-9 items-center justify-center rounded-lg bg-muted p-1 text-muted-foreground w-fit"
    >
      <div
        class="inline-flex items-center justify-center rounded-md px-3 py-1 text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-background text-foreground data-[state=active]:shadow-sm"
      >
        Overview
      </div>
      <div
        class="inline-flex items-center justify-center rounded-md px-3 py-1 text-sm font-medium whitespace-nowrap transition-all outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm"
      >
        MCP
      </div>
    </div>

    <div class="mt-7 space-y-8">
      <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
        <div class="flex items-center justify-center">
          <EmptyPaperNotes className="animate-pulse" />
        </div>
        {
          [1, 2, 3].map((items) => (
            <div class="flex flex-col relative justify-start gap-2">
              <div class="overflow-hidden aspect-5/3">
                <img
                  class="dark:hidden w-full object-cover border w-full h-full opacity-[0.7] rounded-[3px]"
                  src={abstractLightPic.src}
                  width="640"
                  height="360"
                  loading="lazy"
                  decoding="async"
                />
                <img
                  class="hidden dark:block w-full object-cover w-full h-full border opacity-[0.4] rounded-[3px]"
                  src={abstractDarkPic.src}
                  width="640"
                  height="360"
                  loading="lazy"
                  decoding="async"
                />
              </div>
              <div class="w-full h-[16px] rounded-[5px] bg-foreground/15 animate-pulse" />
              <div class="w-[90%] h-[14px] rounded-[5px] bg-foreground/15 animate-pulse" />
            </div>
          ))
        }
      </div>

      <div class="mt-20 space-y-4">
        <p class="text-sm text-muted-foreground">Projects</p>

        <div class="grid grid-cols-2 gap-5 md:grid-cols-4">
          {
            [1, 2, 3, 4].map((items, index) => (
              <div class="flex justify-center items-center">
                <FolderNotes className={`animate-pulse`} />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
