---
import CollectionWorkspace from "@/components/collection/CollectionWorkspace";
import CollectionWorkspaceSkeleton from "@/components/collection/CollectionWorkspaceSkeleton";
import Layout from "@/layouts/Layout.astro";

const projectId = Astro.params.projectId as string;
const collectionId = Astro.params.collectionId as string;
---

<Layout showSiteNav={false} hideUserProvider={true}>
  <div id="app-shell" style="position: fixed; inset: 0; z-index: 100; background: var(--background);">
    <CollectionWorkspaceSkeleton />
  </div>
  <CollectionWorkspace client:only="react" projectId={projectId} collectionId={collectionId} />
</Layout>
