---
import { FooterThemeToggler } from "./FooterThemeToggler";
import { Label } from "./ui/label";

const footerLinkGroups = [
  {
    title: "Content",
    links: [
      { href: "/blogs", label: "Blogs" },
      { href: "/updates", label: "Updates" },
      { href: "/resources", label: "Resources" },
      { href: "/docs", label: "Docs" },
    ],
  },
  {
    title: "Product",
    links: [
      { href: "/components", label: "Components" },
      { href: "/features", label: "Features" },
      { href: "/integrations", label: "Integrations" },
      { href: "/pricing", label: "Pricing" },
    ],
  },
  {
    title: "Explore",
    links: [
      { href: "/use-cases", label: "Use Cases" },
      { href: "/compare", label: "Compare" },
      { href: "/glossary", label: "Glossary" },
    ],
  },
  {
    title: "Company",
    links: [
      { href: "/about", label: "About us" },
      { href: "/contact", label: "Contact" },
      { href: "/terms-of-service", label: "Terms of service" },
      { href: "/privacy-policy", label: "Privacy policy" },
    ],
  },
];
---

<div
  class="h-fit w-full flex flex-col justify-between text-[15px] mt-30 md:mt-50"
>
  <div
    class="md:p-[30px] p-[15px] flex md:justify-between gap-[50px] md:flex-row flex-col"
  >
    <div>
      <a href="/" class="flex items-center gap-3">
        <img
          src="/appLogo.png"
          height="25"
          width="25"
          alt="Whitepapper logo"
          class="transition-all duration-380 hover:translate-y-[-3px] ease-in-out"
        />
        <p class="text-[16px] font-[400]">Whitepapper</p>
      </a>
      <p class="mt-[15px] max-w-[400px] opacity-[0.8] text-[12px]">
        Whitepapper is a API first content platform for developers who want to publish once, distribute everywhere, and manage website content.
      </p>
    </div>

    <div class="grid md:gap-12 gap-10 md:grid-cols-4 grid-cols-2 linkDiv">
      {
        footerLinkGroups.map((group) => (
          <div class="flex flex-col gap-1">
            <Label className="mb-1">{group.title}</Label>
            {
              group.links.map((link) => (
                <a href={link.href} data-astro-prefetch="viewport">{link.label}</a>
              ))
            }
          </div>
        ))
      }
    </div>
  </div>

  <div class="mt-[30px] relative overflow-hidden md:h-[200px] h-[200px]">
    <div class="absolute bottom-0 translate-y-[32%] left-0 right-0">
      <div class="relative flex justify-center items-baseline">
        <h2
          class="md:text-[150px] leading-[1.45em] text-[120px] flex items-baseline font-[Geist]"
        >
          <span>Antk</span>
          <span class="relative inline-block">
            i
            <span
              class="absolute left-1/2 -translate-x-1/2 top-[0.25em] bg-foreground rounded-full text-background p-[4px] h-[0.25em] w-[0.25em] flex items-center justify-center cursor-pointer select-none"
            >
              <FooterThemeToggler client:load />
            </span>
          </span>
          <span class="z-[1]">n</span>
        </h2>
        <div
          class="md:h-[8vw] h-[27vw] bg-gradient-to-t from-background from-[50%] to-transparent to-[100%] absolute bottom-[-4px] z-[2] w-full"
        >
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .linkDiv a {
    font-size: 14px;
    color: var(--muted-foreground);
    transition: all 0.2s;
  }
  .linkDiv a:hover {
    color: var(--foreground);
  }

  @media (max-width: 600px) {
    .linkDiv a{
      font-size: 15px;
    }
  }
</style>
