---
import { Label } from "./ui/label";

import logoHandImg from "@/assets/landingPage/logo_hand.png";

const footerLinkGroups = [
  {
    title: "Content",
    links: [
      { href: "/blogs", label: "Blogs" },
      { href: "/updates", label: "Updates" },
      { href: "/resources", label: "Resources" },
      { href: "/docs", label: "Docs" },
    ],
  },
  {
    title: "Product",
    links: [
      { href: "/components", label: "Components" },
      { href: "/features", label: "Features" },
      { href: "/integrations", label: "Integrations" },
      { href: "/pricing", label: "Pricing" },
    ],
  },
  {
    title: "Explore",
    links: [
      { href: "/use-cases", label: "Use Cases" },
      { href: "/compare", label: "Compare" },
      { href: "/glossary", label: "Glossary" },
    ],
  },
  {
    title: "Company",
    links: [
      { href: "/about", label: "About us" },
      { href: "/contact", label: "Contact" },
      { href: "/terms-of-service", label: "Terms of service" },
      { href: "/privacy-policy", label: "Privacy policy" },
    ],
  },
];
---

<div
  class="h-fit w-full flex flex-col justify-between text-[15px] mt-20 md:mt-30"
>
  <div
    class="md:p-[30px] p-[15px] flex md:justify-between gap-[50px] md:flex-row flex-col"
  >
    <div>
      <a href="/" class="flex items-center gap-3">
        <img
          src="/appLogo.png"
          height="25"
          width="25"
          alt="Whitepapper logo"
          class="transition-all duration-380 hover:translate-y-[-3px] ease-in-out"
        />
        <p class="text-[16px] font-[400]">Whitepapper</p>
      </a>
      <p class="mt-[15px] max-w-[400px] opacity-[0.8] text-[12px]">
        Whitepapper is a API first content platform for developers who want to
        publish once, distribute everywhere, and manage website content.
      </p>
    </div>

    <div class="grid md:gap-12 gap-10 md:grid-cols-4 grid-cols-2 linkDiv">
      {
        footerLinkGroups.map((group) => (
          <div class="flex flex-col gap-2">
            <Label className="mb-1">{group.title}</Label>
            {group.links.map((link) => (
              <a href={link.href} data-astro-prefetch="viewport">
                {link.label}
              </a>
            ))}
          </div>
        ))
      }
    </div>
  </div>

  <div class="mt-[30px] relative overflow-hidden h-full">
    <div class="overflow-hidden relative flex justify-center mt-10 px-10">
      <img
        src={logoHandImg.src}
        class="object-contain md:max-w-[400px] h-full w-full"
      />
      <div
        class="bg-gradient-to-t h-[140px] w-full absolute bottom-[-3px] left-0 from-background from-0% to-transparent to-100% z-3"
      >
      </div>
    </div>
  </div>

  <style>
    .linkDiv a {
      font-size: 14px;
      color: var(--muted-foreground);
      transition: all 0.2s;
    }
    .linkDiv a:hover {
      color: var(--foreground);
    }

    @media (max-width: 600px) {
      .linkDiv a {
        font-size: 15px;
      }
    }
  </style>
</div>
