---
import DocsNavMenu from "@/components/docs/DocsNavMenu";
import type { DocsNavSection, DocsPageEntry } from "@/content/docs/docsPagesStructure";

type Props = {
  navSections: DocsNavSection[];
  currentPath: string;
  previousPage?: DocsPageEntry | null;
  nextPage?: DocsPageEntry | null;
};

const { navSections, currentPath, previousPage, nextPage } = Astro.props as Props;
---

<aside class="hidden md:block ml-5 shrink-0">
  <div class="sticky top-[70px] z-[5] h-[calc(100vh)] w-[250px]">
    <DocsNavMenu client:load navSections={navSections} currentPath={currentPath} />
  </div>
</aside>
